.triangle{
    height: 100%;
    width: 15%;
    /* aspect-ratio: 1/1; */
    background-image: linear-gradient(135deg, rgba(128, 128, 128, 100) 50%, rgba(0, 128, 9, 0) 0%);
    /* overflow: hidden; */
    border-radius: 7px 0px 0px 7px;
    position: absolute;
  
}

.action-tile-container-inner{
    position:relative;
    font-family: Poppins-SemiBold;
    color:black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.action-tile-container-1{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    height: 100%;
    width: 50%;
}

.action-tile-container-2{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    height: 100%;
    width: 50%;
}

.button-stack{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-right: 10%;
}

.layer-name{
    margin-left: 5%;
    font-family: Poppins-Regular;
}

.add-layer-btn{
    font-family: Poppins-Bold;
    color:red;
}

