.eb-main-view{
    background-image: linear-gradient(135deg, #FF9494, #00CECE);
    height: 100%;
    width: 95%;
    /* border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    position:relative; */
    display: grid;
    grid-template-areas: 
        "room manager"
        "editor editor";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border-radius: 10px;
}

.top-pane-container-left{
    height: 100%;
    width: 100%;
    grid-column: 1;
    grid-row: 1;
}

.top-pane-container-right{
    height: 100%;
    width: 100%;
    grid-column: 2;
    grid-row: 1;
}

.room{
    /* grid-column:1;
    grid-row: 1; */
    grid-area:room;
    color: red;
    height: 100%;
    padding: 1%;
}

.manager{
    /* grid-column:2;
    grid-row: 1; */
    grid-area:manager;
    color: red;
    padding: 1%;
    height: 100%;
}

.editor{
    /* grid-column:1/2;
    grid-row: 2; */
    color: red;
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 1%;
}

.eb-manager-view{
    border-radius: 10px;
    height: 100%;
    /* margin-right: 4%;
    margin-left: 2%;
    margin-top: 4%; */
    background: rgba(224, 221, 221, 0.6);    
    /* overflow-y:scroll;
    flex-shrink: 1;
    flex-grow: 1;
    position: relative;
    padding-top: 2.5%;
    padding-bottom: 2.5%; */
    /* grid-column:2;
    grid-row: 1; */
}

.eb-room-view{
    background: rgba(224, 221, 221, 0.6);
    border-radius: 10px;
    /* height: 100%;
    margin-left: 4%;
    margin-right: 2%;
    margin-top: 4%; */
    opacity:.6;
    height: 100%;
    /* grid-column:1;
    grid-row: 1; */
}
.eb-editor-view{
    background: rgba(224, 221, 221, 0.6);
    border-radius: 10px;
    height: 100%;
    /* margin-top:4%;
    margin-left: 2%;
    margin-right:2%;
    opacity:.6; */
    /* grid-column:1/2;
    grid-row: 2; */
    
}

.action-container{
    background: rgba(255, 255, 255, 0.6);
    width: 95%;
    border-radius: 9px;
    display: grid;
    margin-left: 2.5%;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    height: 10vh;
    flex-shrink: 0;
    flex-grow: 0;
    border-width: 0px;
    position: relative;
}

.overview-tiles-stack{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}