.eb-main-view{
    background-image: linear-gradient(135deg, #FF9494, #00CECE);
    height: 100%;
    width: 95%;
    display: grid;
    grid-template-areas: 
        "room manager"
        "editor editor";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border-radius: 10px;
    animation: fadein 1s;
    grid-gap: 1em;
    padding: 1em;
    margin:auto;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.room{
    width: 100%;
    height: 100%;
    grid-column: 1;
    grid-row: 1;
    grid-area:room;
    background: rgba(224, 221, 221, .6);
    border-radius: 10px;
}

.manager{
    width: 100%;
    height: 100%;
    grid-column: 2;
    grid-row: 1;
    overflow-y: scroll;
    grid-area:manager;
    background: rgba(224, 221, 221, 0.6);
    border-radius: 10px;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.editor{
    width: 100%;
    height: 100%;
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 1%;
    background: rgba(224, 221, 221, 0.6);
    border-radius: 10px;
}

.action-container{
    background: rgba(255, 255, 255, 0.6);
    width: 95%;
    display: grid;
    border-radius: 10px;
    height: 10vh;
    flex-shrink: 0;
    flex-grow: 0;
    position: relative;
}

.overview-tiles-stack{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}